.arena
	position relative
	width 100%
	flex-grow 1

.players
	&.hidden
		display none

.player
	position absolute
	font-size 1.5rem
	text-align right
	white-space nowrap
	display flex
	align-items flex-end
	.vote
		position relative
		margin-left 0.25rem
		&.hidden
			user-select none
			background-color #000
			width 3rem
			height 1.5rem


.scoreboard
	position absolute
	bottom 0
	left 50%
	transform translateX(-50%)
	font-size 4.5rem

	.hide_votes &
		display none

	li
		display inline-block

		&::after
			content ','

		&.empty::after, &:last-of-type::after
			content ''

.control
	position absolute
	left 50%
	top 40%
	transform translate(-50%, -50%)
	.hidden
		display none

	.only-topic
		font-size 24pt
		font-weight bold
		color #222

	.text-input
		min-width 4.5rem
		input
			margin 0 auto
		input ~ label
			padding-left 0
			left 50%
			transform translate(-50%)

	.buttons
		width 100%
		text-align center

	button
		position relative
		border-width 0
		border-radius 50%
		width 1.8rem
		height 1.8rem
		margin 0.1rem 0.25rem

		svg
			position absolute
			width 60%
			height 60%
			fill #fff

		&.reset
			background-color #f44
			svg
				left 16.5%
				top 18.5%

		&.reveal
			background-color: #4f4
			svg
				left 20%
				top 20%

		&:focus
			outline none

		&:active
			&.reset
				background-color #d22
			&.reveal
				background-color #2d2
