text-input-styling()
	font-size 24pt
	font-weight bold
	padding-left 0.2rem

.text-input
	position relative
	margin 0.5rem 0
	display inline-block
	vertical-align middle

	input[type=text]
		text-input-styling()
		display block
		margin 0
		color: #222
		appearance none
		box-shadow none
		background transparent
		border none
		border-radius none
		border-bottom 0.1vh solid #333

		&:focus
			outline none

		& ~ label
			text-input-styling()
			display none
			pointer-events none
			position absolute
			top 1px
			color #a3b0c1
			font-style italic

		&:placeholder-shown ~ label
			display inline

.toggle-input
	display inline-block

	input[type=checkbox]
		display none

		& + label
			display inline-block
			padding 0.25rem 0.5rem
			background-color lightness(#a4a, 90%)
			border-radius 2rem
			color #fff
			box-shadow 0 0.05vw 0.35vw 0.05vw rgba(0,0,0,0.25)
			user-select none

		&:checked + label
			background-color #a4a
